
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StructurePost</title>
    <style>
/*        h1{
            background-color:darkorange;
            text-align:center;

        }*/

        .main, .enterData {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
        .one, .Side, .firstColumn, .secondColumn {
            width: 100%;
            padding-inline:20px;
        }
        .head_text {
            border-radius: 10px;
            background-color: orange;
            text-align: center;
            height: min-content;
            
        }
        input {
            height: min-content;
            width: max-content;
        }
        input.enterData{
            width:50%;
        }
        label.enterData{
            width: max-content;
        }
    </style>
</head>
<body>
    <form method="post" action="StructurePostFunction">
        <div class="main" style="width:stretch">
            <div class="one" >
                <div class="head_text"><h1>Информация для пропуска</h1></div>
                <div style="background-color:lightgray;">
                    <p style="text-align: center">Срок действия заявки:</p>
                    <div class="srok">
                        <label for="Start_Date">с*: </label> <input type="date" id="Start_Date" атрибуты>
                        <label for="End_Date">по: </label> <input type="date" id="End_Date" атрибуты>
                    </div>
                    <p style="text-align: center">Цель посещения</p>
                    <input type="text" name="Target" атрибуты>
                </div>
            </div>
            <div class="Side" style="width:stretch">
                <div class="head_text"><h1>Принимающая сторона</h1></div>
                <div class="side">
                    <div class="podrazd">
                        <p>Подразделение*</p>
                        @Html.DropDownList("id_division", ViewBag.Division as SelectList)
                        @*<select name="AllDivision" id="selectID">
                        <option value=”GR”>Green</option>
                        <option value=”YE”>Yellow</option>
                        <option value=”BL”>Black</option>
                    </select>*@
                    </div>
                    <p>ФИО:</p>
                    <input name="FullName" type="text">
                </div>
            </div>
        </div>
        <div class="informationAboutPerson">
            <div class="head_text"><h1>Информация о посетителе</h1></div>
            <div class="enterData">
                <div class="firstColumn">
                    <div class="family">
                        <label for="peas">Фамилия:</label>
                        <input name="Firstname" type="text">
                    </div>
                    <div class="name">
                        <label for="peas">Имя:</label>
                        <input  name="Surname" type="text">
                    </div>
                    <div class="family">
                        <label for="peas">Отчество:</label>
                        <input  name="Patronymic" type="text">
                    </div>
                    <div class="family">
                        <label for="peas">Телефон:</label>
                        <input  name="Telephone" type="text">
                    </div>
                    <div class="family">
                        <label for="peas">E-mail:</label>
                        <input  name="Email" type="email">
                    </div>
                </div>
                <div class="secondColumn">
                    <div class="family">
                        <label for="peas">Организация:</label>
                        <input name="Organization" type="text">
                    </div>
                    <div class="name">
                        <label for="peas">Примечание:</label>
                        <input name="Value" type="text">
                    </div>
                    <div class="family">
                        <label for="peas">Дата рождения:</label>
                        <input name="Birthday" type="date">
                    </div>
                    <div class="family">
                        <label for="peas">Серия:</label>
                        <input name="Seria" type="text">
                    </div>
                    <div class="family">
                        <label for="peas">Номер:</label>
                        <input name="Number" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input type="submit" value="Отправить"></p>
        </div>
    </form>
</body>
</html>
