@model WebAPIForKeeper.Models.Struct
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StructurePost</title>
    <style>
/*        h1{
            background-color:darkorange;
            text-align:center;

        }*/
        p{
            top: 0;
            bottom:0;
        }
        div{
            top:0;
            margin-bottom:10px;
        }
        .main, .enterData {
            display: flex;
            flex-direction: row;
            gap:15px;
            width: 100%;
        }
        
        .after-head {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .inside, .column {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .inside {
            background-color: lightgray;
            border-radius: 10px;
        }
        .column {
            padding: 10px;
        }
        .block-row {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
        }
        .head_text {
            border-radius: 10px;
            background-color: orange;
            text-align: center;
            height: min-content;
        }
        
        label.block-row {
            width: max-content;
        }
        input {
            /*width:700px;*//*если хочется на всю*/
            height: min-content;
        }
        input.block-row, select {
            width: 100%;
         }
        .srok{
            margin-left:auto;
            margin-right:auto;
        }
        #but1 {
            margin-left: auto;
            margin-right: 0;
        }
    </style>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            const callback = (function () {
                $.get(
                    "GetDivisionEmployeesSelect/" + $("#id_division").val(),
                    success
                );
                function success(data) {
                    $("#division_employees").html(data);
                }
            });

            callback();
            $("#id_division").change(callback);
        })
    </script>
</head>
<body>
    <form method="post" action="StructurePostFunction">
        <div class="main">
            <div class="inside">
                <div class="head_text"><h1>Информация для пропуска</h1></div>
                <div class="after-head">
                    <p style="text-align: center">Срок действия заявки:</p>
                    <div class="srok">
                        <label for="Start_Date">с*: </label> <input type="date" name="Start_Date" required>
                        <label for="End_Date">по: </label> <input type="date" name="End_Date">
                    </div>
                    <p style="text-align: center">Цель посещения</p>
                    <input type="text" name="Target">
                </div>
            </div>
            <div class="inside" style="width:stretch">
                <div class="head_text"><h1>Принимающая сторона</h1></div>
                <div class="after-head">
                    <div class="podrazd">
                        <p>Подразделение*</p>
                        @Html.DropDownList("id_division", ViewBag.Division as SelectList)
                    </div>
                    <p>ФИО:</p>
                    <select id="division_employees" name="division_employees"></select>
                </div>
            </div>
        </div>
        <div class="inside">
            <div class="head_text"><h1>Информация о посетителе</h1></div>
            <div class="enterData">
                <div class="column">
                    <div class="block-row">
                        <label for="peas">Фамилия:</label>
                        <input name="Firstname" type="text" required>
                    </div>
                    <div class="block-row">
                        <label for="peas">Имя:</label>
                        <input name="Surname" type="text" required>
                    </div>
                    <div class="block-row">
                        <label for="peas">Отчество:</label>
                        <input name="Patronymic" type="text" required>
                    </div>
                    <div class="block-row">
                        <label for="peas">Телефон:</label>
                        <input name="Telephone" type="text">
                    </div>
                    <div class="block-row">
                        <label for="peas">E-mail:</label>
                        <input name="Email" type="email">
                    </div>
                </div>
                <div class="column">
                    <div class="block-row">
                        <label for="peas">Организация:</label>
                        <input name="Organization" type="text">
                    </div>
                    <div class="block-row">
                        <label for="peas">Примечание:</label>
                        <input name="Value" type="text">
                    </div>
                    <div class="block-row">
                        <label for="peas">Дата рождения:</label>
                        <input name="Birthday" type="date">
                    </div>
                    <div class="block-row">
                        <label for="peas">Серия:</label>
                        <input name="Seria" type="text">
                    </div>
                    <div class="block-row">
                        <label for="peas">Номер:</label>
                        <input name="Number" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div style="display:flex;">
            <input type="submit" value="Отправить" id="but1" />
        </div>
    </form>
</body>
</html>
