
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Заявка на личное посещение</title>
    <style>
        h3 {
            align-content: center;
            background-color: darkorange;
        }
    </style>
</head>
<body>
    <div>
        <h3>Информация для пропуска</h3>
        <div>
            <span>Срок действия заявки</span>
            <div class="date">
                <div class="start_date">
                    <p>с*: </p>
                    <input type="date" />
                </div>
                <div class="nd_date">
                    <p>по: </p>
                    <input type="date" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>

