@model IQueryable<WebAPIForKeeper.Models.Employees>

@if (Model?.Any() ?? false)
{
    foreach (var employee in Model)
    {
        <option value="@employee.ID_Employee">@employee.Firstname @employee.Surname @employee.Patronymic</option>
    }
}